@model Igreja.Consolacao.Website.Models.Banner
@{
    ViewBag.Title = "Home Page";
}
<div id="templatemo_menu">
    @Html.ActionMenu(0)
</div>
<!-- end of templatemo_menu -->
<div id="templatemo_banner_wrapper">
    <div id="templatemo_banner">
        @*<img src="@Model.Image" alt="@Model.Title" />
        <h1>@Html.DisplayFor(model => model.Title)</h1>
        <p>@Html.DisplayFor(model => model.Description)</p>*@
        <div class="cleaner"></div>
    </div>
    <!-- end of banner -->
</div>
<!-- end of banner_wrapper -->
<div id="templatemo_service_bar_wrapper">
    <div id="templatemo_service_bar">
        <div class="sb_box">
            <img src="@Url.Content("~/Content/themes/softround/images/onebit_15.png")" alt="image 1" />
            <a href="#">Quisque sed orci ut lacus viverra interdum ornare sed est.</a>
        </div>
        <div class="sb_box">
            <img src="@Url.Content("~/Content/themes/softround/images/onebit_16.png")" alt="image 2" />
            <a href="#">Vestibulum pharetra tortor vitae velit pretium rhoncus.</a>
        </div>
        <div class="sb_box sb_box_last">
            <img src="@Url.Content("~/Content/themes/softround/images/onebit_19.png")" alt="image 3" />
            <a href="#">Integer consectetur enim eget diam tincidunt vehicula.</a>
        </div>
    </div>
    <!-- end of templatemo_service_bar -->
</div>
<!-- end of templatemo_service_bar_wrapper -->
<div id="templatemo_content_wrapper">
    <div id="templatemo_content">
        <div class="col_w565">
    
                <h2>Bem-vindo à <strong>Igreja da Consolação</strong></h2>
            
                <p align="justify"><strong><a href="http://www.templatemo.com/preview/templatemo_296_soft_round" target="_parent">Soft Round</a></strong> is a free CSS template from <a href="http://www.templatemo.com" target="_parent">templatemo.com</a> website. You may edit and apply this template for your personal or business websites. Credit goes to <a href="http://jwloh.deviantart.com/art/Social-me-90694011" target="_blank">Social.me</a> for icons used in this template.   Donec nunc neque, pulvinar a, vestibulum eget, luctus id, orci. Pellentesque elementum enim a augue. Donec in nisi. Etiam sit amet turpis. Duis nulla diam, posuere ac, varius id, ullamcorper sit amet, libero. Nam sodales, pede vel dapibus lobortis, ipsum diam molestie risus, a vulputate risus nisl pulvinar lacus.</p>
       	      <div class="cleaner_h20"></div>
              <div class="cleaner_h20"></div>

                <h2>Atividades</h2>
            <p align="justify">
                <em>Conheça algumas das atividades de nossa paróquia, se informe, e participe!</em></p>
            
                <div class="cleaner_h40"></div>

                <div class="col_260">
                <h3>Catequese</h3>
                <div class="image_wrapper">
                    <img src="@Url.Content("~/Content/themes/softround/images/flashmo.jpg")" alt="flashmo" /></div>
                <p>
                    Morbi sed nulla ac est cursus suscipit eu ac lectus. Curabitur ullamcorper nibh
                    nisi, sed eleifend dolor. Suspendisse at nisi nec diam pretium tincidunt.</p>
                <div class="button">
                    <a href="http://www.flashmo.com" target="_parent">Conheça</a></div>
            </div>
            <div class="col_260 col_last">
                <h3>Bazar</h3>
                <div class="image_wrapper">
                    <img src="@Url.Content("~/Content/themes/softround/images/templatemo.jpg")" alt="templatemo" /></div>
                <p>
                    Proin luctus placerat arcu, eget vehicula metus rhoncus ut. Fusce pharetra pharetra
                    venenatis. Sed condimentum ornare ipsum, nec gravida.</p>
                <div class="button">
                    <a href="http://www.templatemo.com" target="_parent">Conheça</a></div>
            </div>
            <div class="cleaner_h40">
            </div>
            <div class="col_260">
                <h3>
                    Grupo de Oração</h3>
                <div class="image_wrapper">
                    <img src="@Url.Content("~/Content/themes/softround/images/koflash.jpg")" alt="koflash" /></div>
                <p>
                    Vivamus interdum, tortor at pellentesque pulvinar, diam quam blandit nulla, non
                    faucibus nisi metus sit amet neque. Etiam eu ipsum a arcu sodales.</p>
                <div class="button">
                    <a href="http://www.koflash.com" target="_parent">Conheça</a></div>
            </div>
            <div class="col_260 col_last">
                <h3>
                    Alcoólicos Anônimos</h3>
                <div class="image_wrapper">
                    <img src="@Url.Content("~/Content/themes/softround/images/webdesignmo.jpg")" alt="webdesignmo" /></div>
                <p>
                    Ut vitae felis eu lectus ultrices varius. Aliquam lacus turpis, dapibus eget, tincidunt
                    eu, lobortis et, magna. Integer pellentesque dignissim diam.</p>
                <div class="button">
                    <a href="http://www.webdesignmo.com/blog" target="_parent">Conheça</a></div>
            </div>
            <div class="cleaner">
            </div>
        
                @*<h2>Nossos Padres</h2>
            
                <p><em>Curabitur sem ante, condimentum non, cursus quis, eleifend non, libero. Suspendisse vitae orci a ligula egestas bibendum. Vestibulum ultrices. Pellentesque tempus sapien nec sem commodo ullamcorper. Aenean neque. Cras feugiat. In ut ante.</em></p>
                <ul class="tmo_list col_260">
                <li><span>&raquo;</span> Pe. José Roberto Pereira</li>
                <li><span>&raquo;</span> Pe. Luiz Cláudio Braga</li>
                <li><span>&raquo;</span> Pe. José de Assis Batista</li>
                <li><span>&raquo;</span> Pe. Ramón Santiago Pulido</li>
                </ul> 
                <ul class="tmo_list col_260 col_last">
                <li><span>&raquo;</span> Pe. Adiair Lopes da Silva</li>
                <li><span>&raquo;</span> Cônego José Pedro dos Santos</li>
                <li><span>&raquo;</span> Monsenhor Luciano Tulio Grilli</li>
                <li><span>&raquo;</span> Pe. Dario Benedito Belilacqua</li>
                </ul>  
                <div class="cleaner"></div>
                <div class="button"><a href="#">Leia mais</a></div>*@
		    </div>
        
            <div class="col_260 col_last">
        
                <h2>Artigos</h2>
            
        	    <div class="sb_news_box">
                     <h6><a href="#">Vida de São Luiz Gonzaga</a> <span>(26/06)</span></h6>
                        Conheça a vida de <strong>São Luiz Gonzaga</strong>, patrono da juventude.
              <div class="cleaner"></div>
                </div>
            
                <div class="sb_news_box">
                     <h6><a href="#">Quem foi São João Batista?</a> <span>(24/06)</span></h6>
                        <strong>São João Batista</strong>, o anunciador de Cristo, nasceu na cidade de Judá a 2 a.C. até 27 d.C...
				    <div class="cleaner"></div>
                </div>
            
                <div class="sb_news_box">
                        <h6><a href="#">Relíquia do Beato João Paulo II</a> <span>(18/06)</span></h6> 
                        Hoje a Rádio Canção Nova teve uma Conheçaa muito especial: a Relíquia do <strong>Beato Joao Paulo II</strong>, contendo uma...
                        <div class="cleaner"></div>
                </div>
            
                <div class="sb_news_box">
                        <h6><a href="#">Dia do Catequismo Jovem?</a> <span>(15/06)</span></h6>
                        Isso mesmo! Em julho faltará apenas um ano para a JMJ – Rio 2013. Nesta ocasião celebraremos...
                        <div class="cleaner"></div>
                </div>
            
                <div class="button"><a href="#">Veja mais</a></div>
            
            </div>
        <div class="cleaner">
        </div>
    </div>
</div>
